{{define "main"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}} - Pav (mobile)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/content/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/content/bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body>
		{{template "content" .}}
	</body>
</html>
{{end}}
